[submodule "ansible/roles/heka"]
	path = ansible/roles/heka
	url = ssh://git@git.silpion.de:2222/~kusch/ansible-heka.git
[submodule "ansible/roles/silpion"]
	path = ansible/roles/silpion
	url = ssh://git@git.silpion.de:2222/isar/ansible-silpion.git
