[submodule "ansible/roles/heka"]
	path = ansible/roles/heka
	url = https://github.com/silpion/ansible-heka.git
[submodule "ansible/roles/silpion"]
	path = ansible/roles/silpion
	url = https://github.com/silpion/ansible-silpion.git
[submodule "ansible/roles/etckeeper"]
	path = ansible/roles/etckeeper
	url = https://github.com/silpion/ansible-etckeeper.git
[submodule "ansible/roles/linuxdash"]
	path = ansible/roles/linuxdash
	url = https://github.com/silpion/ansible-linuxdash.git
