/* "command" slide headlines */
.command h3 {
  color: #98BF0C;
  padding: 3px;
  font-size: 20px;
  font-weight: bold;
}

.command h2 {
  color: #98BF0C;
  padding: 3px;
  font-size: 24px;
  font-weight: bold;
}

.command h1 {
  background-color: #98BF0C;
  color: #FFFFFF;
  padding: 3px;
  font-size: 28px;
  font-weight: bold;
}


/* "subsection" slide headlines */
.subsection h1 {
  background-color: #98BF0C;
  color: #FFFFFF;
  padding: 3px;
  font-size: 28px;
}

.subsection h2 {
  color: #98BF0C;
  padding: 3px;
  font-size: 24px;
}

.subsection h3 {
  color: #98BF0C;
  padding: 3px;
  font-size: 20px;
}


/* code results */
.commandline code.result {
  color: #5F5F5F;
}


.slide {
  background-image: url(/image/assets/silpion-tree-green.png);
  background-repeat:no-repeat;
  background-position: right bottom;
  background-size: 15%;
}


.content {
  margin: 0 !important;
}


/* "bullets" and "smbullets" slide list points */
.bullets > ul > li {
  text-align: left;
  list-style: none outside none;
}

.smbullets > ul > li {
  text-align: left;
  list-style: none outside none;
}




/* global */
h3, h2, h1 {
  color: #5F5F5F;
  font-weight: bold;
}


div {
  color: #5F5F5F;
}


a:link {
  text-decoration: none;
  color: #98BF0C;
}
a:hover {
  text-decoration: underline;
  color: #5F5F5F;
}


/* title page */
.title {
  background-color: #98BF0C;
  background-image: url(/image/assets/silpion-logo.png);
  background-repeat:no-repeat;
  background-position: center center;
  background-size: 90%;
}
